<H1>These are my messages!</H1>


<%= link_to "Inbox", inbox_path(current_user), :class => "tag" %></br>
<%= link_to "Sent", sent_path(current_user), :class => "tag" %></br>
<%= link_to "Deleted", deleted_path(current_user), :class => "tag" %>
