<% provide(:title, @task.description) %>
<!--classes row and span4 are apart of bootstrap-->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @task.description %> <!--What happens to this line when I change name to firstname & lastname?-->

      </h1>
    </section>
  </aside>
</div>