<h1>Listing Notifications</h1>

<% @user.notifications.each do |notification| %>
    <tr>
      <td><%= notification.description %></td>
      <td><%= notification.status %></td>
      <td><%= link_to "delete",{ :action => 'destroy', :controller => 'notifications', :id => notification.id } %></td>
    </tr>
<% end %>

