<div class = "col-md-6 pull-right text-center panel panel-danger">
  <h1>Listing Notifications</h1>

  <% @user.notifications.each do |notification| %>
      <tr>
        <td><%= notification.description %></td>
        <td><%= link_to 'Destroy', {:controller=>:notifications,:action=>:destroy, :id=>@notification}, :method=>:delete %><br />
      </tr>
  <% end %>
</div>