<div class="row">
  <section class="small-8 columns">
    <p>sample text to push down...sample text to push down...sample text to push down...
      sample text to push down...sample text to push down...sample text to push down...
      sample text to push down...sample text to push down...sample text to push down...
      sample text to push down...sample text to push down...sample text to push down...
      sample text to push down...sample text to push down...sample text to push down...
    </p>
  </section>
  <section class ="small-4 columns panel callout radius">
    <p>some more text on the right??? some more text on the right??? some more text on the right???
      some more text on the right???some more text on the right???some more text on the right???
    </p>
  </section>
</div>
<div class="row">
  <section class ="large-12 columns">
   <%= link_to image_tag("RRMockLogo.png", alt: "Rio Runner") %>
  </section>
</div>
<div class="row">
  <section class ="small-6 columns">
   <%= link_to "Join Up!", new_user_registration_path, class: "button radius"  %>
  </section>
</div>

