<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class ="container-fluid">
<header class="container-fluid">
    <div class = "span-9 offset-3">
    <% if user_signed_in? %>
        <h1>Hello, <%=current_user.first_name %>!</h1>
        <h1>Phone: <%=current_user.phone %></h1>
        <h1>Last: <%=current_user.last_name %></h1>


    <% end %>
    </div>
</header>
  <div class = "row">
    <p class ="col-xs-6">Hello, this is some text!! Hello, this is some text!! Hello, this is some text!! Hello, this is some text!!
      Hello, this is some text!!Hello, this is some text!!Hello, this is some text!!Hello, this is some text!!Hello, this is some text!!</p>
  </div>
</div>
</body>
</html>